@charset "utf-8";
body{
	line-height: 2;
	letter-spacing: 1.2px;
	box-sizing: border-box;
	font-family:  "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
}
header{
	width: 100%;
	position:fixed;
	background: #fff;
	z-index: 10;
}
.wrapper{
	max-width:0.76vw;
	margin:0 auto;
	padding:0 23%;
}
.catch{
	margin:0 auto;
	vertical-align: center;
}

.header{
	max-width: 1460px;
	padding:10px 0;
	position:relative;
	margin:0 auto;
}
.logo{
	width:168px;
	display: inline-block;
	padding-left:4%;
}
.sub-title{
	display: inline-block;
}
.sub-title p{
	font-weight:600;
}
.header p{
	font-size:0.87rem;
	vertical-align: bottom;
}
header .screen{
	display: inline-block;
	color:white;
	background:#da6b64;
	padding:10px 45px;
	text-align: center;
    border-radius: 30px;
	position:absolute;
	right:0px;
	text-decoration: none;
}
header .btn:hover{
	cursor:pointer;
	background: #d84940;
}
.menu{
	display: none;
}

/*------------CATCH-----------*/
.catch{
	background: url("img/catch_bg.jpg");
	text-align: center;
	background-position: 
		center 0;
	 background-attachment: fixed;
	padding-top:100px;
}
.textl{
	font-size:1.75rem;
	font-weight: 600;
}
.catch .textl{
	padding:100px 0 50px 0;
}
.textm{
	font-size:1.3rem;
	font-weight: 600;
}
.catch .textm{
	padding:50px 0 100px 0;
}


/*--------DETAIL---------*/
.detail{
	text-align: center;
	color:#fff;
	background:#ebb94d;
	padding:50px 0;
}
.detail .textm:nth-child(2){
	color:red;
	background: #fff;
	max-width:600px;
	margin:0 auto;
	border-radius:5px;
}
.detail .btn{
	max-width:1200px;
		color:white;
	background:#da6b64;
	padding:15px 0;
	text-align: center;
    border-radius: 40px;
	margin:30px auto;
}
.detail .btn:hover{
	background: #d84940;
}
.btn_sns{
	display:inline-block;
	padding:0 15px;
	margin:30px 5px 0;
	background: #1877f2;
	border-radius:5px;
	cursor: pointer;
	font-size:0.87rem;
}
.btn_sns .tw{
	background:#1b95e0;
}
.btn_sns .fb{
	background: #1877f2;
}
.btn_sns i{
	margin-right:5px;
}


/*--------HOWTO----------*/
.howto{
	text-align: center;
	padding-bottom: 100px;
	background: url("img/howto_bg.jpg") center top;
}
.ttl{
	margin: 50px auto 50px;
	position: relative;
    max-width: 860px;
}
h2{
	text-align: center;
	padding:20px 0;
}
.possible h2{
	color:#fff;
}
h2::before{
	position:absolute;
	content:"";
	top:0;
	left:0;
	width: 50px;
	height: 50px;
	border-top:solid 5px #ebb94d;
	border-left: solid 5px #ebb94d;
}
 h2::after{
	position:absolute;
	content:"";
	bottom:0;
	right:0;
	width: 50px;
	height: 50px;
	border-bottom:solid 5px #ebb94d;
	border-right: solid 5px #ebb94d;
}
.howto p{
	font-weight: 400;
	margin-bottom:21px;
}
.howto .orangeline{
	font-weight: 700;
	border-bottom:solid 5px #ebb94d;
}


/*--------ABOUT---------*/
.circle_ttl{
	color:#fff;
	text-align: center;
	width: 100px;
	height:100px;
	background:#ebb94d;
	border-radius:50%;
	line-height:100px;
	margin: 0 auto;
	position:relative;
	top:-50px;
}
.type_a{
	text-align: center;
	background: #fef5e0;
	padding-bottom:100px;
}
.type_a .ttl{
	margin:0 auto 50px;
}
.type_a p{
	padding-bottom:30px;
}
.type_a .skill p{
	padding-bottom:0;
}
.type_a .items{
	display: flex;
	justify-content: center;
}
.type_a .item p{
	font-size: 0.75rem;
	width:110px;
	text-align: center;}
.type_a .item{
	margin:10px 20px;
}

.box{
	max-width: 1170px;
	background:#fff;
	border: solid #ebb94d;
	border-radius: 10px;
	padding:30px 4%;
	margin:0 auto;
}


/*----------STEP----------*/
.step{
	text-align: center;
	background: url("img/step_bg.jpg") center;
	background-size:cover;
	color:#fff;
	min-height:617px;
}
.ttlb{
	padding:100px 0 20px;
}
.bottom{
	background: #016ea9;
	padding:30px 10px;
	color:#fff;
}
.step span{
	color:#ebb94d;
}
.steps{
	font-weight:700;
	padding:30px;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
}
.step_ttl{
	width: 400px;
	height:30px;
	background: #ebb94d;
	color:#fff;
	margin:0 auto;
	border-radius:5px;
}
.steps p:nth-child(2){
	margin-top:20px;	
}
.step .item{
	padding:30px;
	background: #fff;
	color:#000;
	max-width: 400px;
	border-radius: 10px;
	margin-bottom: 10px;
}


/*------learn------*/
.learn{
	text-align: center;
    padding-bottom: 100px;
}
.point{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 20%;
}
.learn .item{
	color:#fff;
	width: 180px;
	height: 170px;
	background:#ebb94d;
	border-radius:50%;
	padding-top:10px;
	margin-bottom: 10px;
}
.learn .item p{
	width: 150px;
	margin: 0 auto;
	line-height: 1.5;
	font-weight:bold;
}


/*------merit------*/
.merit{
	padding-top:50px;
}
.merit h2 p{
	padding-bottom:0;
}
.merit .item{
	padding-bottom: 30px;
}
.merit .item img{
	width: 100%;
}
.merit .item p{
	width:440px;
	font-size: 1.3rem;
	font-weight:bold;
	color:#ebb94d;
	text-align: left;
	padding-bottom:0;
	letter-spacing:1;
}
.explane{
	width:440px;
	text-align: left;
}
.merit p:first-child{
	color:#ebb94d;
}
.merit p:nth-child(2){
	font-size:1.5rem;
	font-weight: 700;
}


/*--------MEMBER----------*/
.member{
	text-align: center;
	color:#fff;
	background:url("img/member_bg.png") center top;	
	background-size:cover;
	margin:0 auto;
}
.members{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
}
.member .item{
	width: 30%;
	position:relative;
}
.member .item p{
	text-align:left;
}
.member .item img{
	margin-bottom:-50px;
}
.info{
	border:solid #fff 1px;
	padding:50px 20px 30px 20px ;
}


/*----------possible-----------*/
.possible{
	text-align: center;
}
.possible .circle{
	color:#ebb94d;
	text-align: center;
	width: 100px;
	height:100px;
	background:#fff;
	border-radius:50%;
	line-height:100px;
	margin: 0 auto -30px;
	position:relative;
	}
.possible h2{
	padding-top:0px;
}
.possible h2::before{
	border-top:solid 5px #fff;
	border-left: solid 5px #fff;
}
 .possible h2::after{
	border-bottom:solid 5px #fff;
	border-right: solid 5px #fff;
}
.orange_bg{
	background:#ebb94d;
	padding:30px 0;
}
.talkbubble{
	width: 80px;
	height:80px;
	background:#ebb94d;
	line-height:100px;
	margin: 0 auto;
	position:relative;
	top:-50px;
	transform:rotate(45deg);
}
.persons{
	margin:0 auto;
	display: flex;
  	justify-content: center;
  	flex-wrap: wrap;
}
.person{
	padding:30px 0;
	align-items: center;
	width:960px;
	display: flex;
}
.person img{
	width: 300px;
	border:2px solid #ebb94d;
}
.person p{
	text-align: left;
	font-size:1.3rem;
	font-style: oblique;
	color:darkgray;
	padding-left: 30px;
}


/*------LEARN-DTAIL-------*/
.learn-detail{
	text-align: center;		background:url("img/member_bg.png") center top no-repeat;
	background-size: cover;
}
.learn-detail .ttlb{
	color:#fff;
}
.learn-boxs{
	padding:50px 0;
}
.learn-box{
	display:inline-block;
	vertical-align: top;
	border-radius: 10px;
	border: 5px solid #016ea9;
	max-width: 450px;
    	min-width: 376px;
	margin:10px auto;
	background:#fff;
}
.lb-ttl{
	color:#fff;
	background: #016ea9;
	padding:15px;
}
.lb-content li{
	border-bottom: solid 1px darkgray;
	padding:8px 20px;
	font-weight: bold;
	background:#fff;
}
.lb-content li:last-child{
	bordes-bottom: none;
	border-radius:0 0 10px 10px;
}


/*------------FLOW---------*/
.flow{
	text-align: center;
}
.flow-boxs{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.flow-box{
    max-width: 1170px;
    margin: 0 4%;
    display: flex;
    line-height: 1.5;
    padding: 30px 50px;
    background: #fff9da;
    border-radius: 10px;
}
.left{
	padding:20px;
}
.left p{
	width:300px;
	font-size:1.5rem;
	font-weight:700;
}
.flow-box:nth-child(2) img{
	margin-top:30px
}
.right{
	text-align: left;
}
.right p{
	padding:20px 0;
	font-size:18px;
}


/*----------why---------*/
.why h2{
	font-size:1.75rem;
	font-weight: 700;
	text-align: left;
}
.why{
	color:#fff;
	text-align: left;
	background: url(img/why_bg.jpg) center bottom no-repeat;
	padding:80px;
	margin-top:50px;
}

.why li{
	line-height: 2;
}
/*--------benefit---------*/
.benefit{
	padding:50px 4%;
	text-align: center;
	background: #f7c04b;
}
.benefit h2{
	font-size:1.75rem;
	font-weight: 700;;
}
.benefit span{
	color:#fff;
}

.benefit .ttl{
	padding:0 50px;
	margin-bottom: -30px;
	 align-items: center;
	line-height:1.2;
	font-size:1.75rem;
	font-weight: 500;
	background-color: #f7c04b;
}
.bene-ttl{
	padding-top:30px; 
	font-size: 1.75rem;
	color: #f7c04b;
	margin:0 auto;
}
.benefit .items{
	max-width: 1200px;
	margin:0 auto;
	padding:60px 0 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border:solid 2px #fff;
}
.benefit .item{
	background: #fff;
	width: 280px;
	height: 280px;
	border-radius:50%;
	margin: 0 auto 10px;
}
.benefit .item .content{
	width: 230px;
	line-height: 1.5;
	font-weight: 700;
	padding-top:10px;
	margin: 0 auto;
}


/*----------NOT-VOLUNTEER-----*/
.not-volunteer{
	padding:50px 0;
	text-align: center;
	background:  #4F4F4F;
	color:#fff;
}
.not-volunteer h2::before{
	border-top:solid 5px #fff;
	border-left: solid 5px #fff;
}
.not-volunteer h2::after{
	border-bottom:solid 5px #fff;
	border-right: solid 5px #fff;
}


/*------------MESSAGE------------*/
.message{
text-align: center;
	max-width: 890px;
	margin:0 auto;
}
.messages{

	padding-bottom:50px;
}

.messages .img{
	padding:0 30px;
	box-sizing: border-box;
	float:left;
}

.message .content{

	text-align: left;
	box-sizing: border-box;
}
.message .img::after{
	display: block;
	content:'';
	clear:both;
}
.message .textm{
	padding-bottom:30px;
}


/*------------FORM------------*/
.form{
	text-align: center;
	margin: 0 auto;
	background: #f7c04b;
	padding:50px 0;
}
input,textarea{
    width: 96%;
    max-width: 960px;
    box-sizing: border-box;
    padding: 0 10px;
    height: 50px;
    margin: 30px auto;
    border-radius: 5px;
    border: none;
    font-size:1.125rem;
    display: block;
}
textarea{
	padding:10px;
}
.form .btn{
	max-width:960px;
	color:white;
	background:#da6b64;
	padding:15px 0;
	text-align: center;
    border-radius: 5px;
}
.form .btn:hover{
	background: #d84940;
	cursor:pointer;
}

/*---------FAQ-----------*/
.faq{
	padding:50px 0;
	text-align: center;
	margin:0 auto;
}
.faq .textl{
	padding-bottom:50px;
}
.QandA{
	max-width: 960px;
	padding-bottom: 5px;
	margin:0 auto;
	text-align: center;
}
.QandA .fa-question-circle{
	color:#016ea9;
}
.QandA .q{
	border: solid #E6E6E6 1px;
	border-radius:5px;
	text-align: left;
	padding:10px 20px;
	position:relative;
}
.QandA .q:hover{
	cursor: pointer;
}
.q,.q p{
	display: inline-block;
	width:90%;
}
.q p:hover{
	text-decoration:underline black;/*下線を引く*/
}
.fa-chevron-down{
	padding-top:15px;
	right:37px;
	position:absolute;
	vertical-align: middle;
}
.fa-chevron-down:hover{
	cursor: pointer;
}
.QandA .answer{
	font-weight: 600;
	text-align: left;
	line-height: 1.5;
	padding:20px;
}


/*---------footer--------*/
footer{
	text-align: center;
	background: lightgray;
	padding:30px 0;
}
footer .btn_sns{
	color: #fff;

}
small{
	display: block;
}


/*--------------------------------------------------MEDIA QUERY------------------------------------------------*/
@media screen and (max-width: 960px){
	
	header .screen{
		display:none;
	}
	.header p {
    font-size: 0.5rem;
	}
	.header{
	position:relative;
}
	.header .sub-title{
		padding-left: 4%;
	}
	.logo {
    width: 130px;
    display: inline-block;
    padding-left: 4%;
}
	header .sp{
	display: block;
    padding: 0 14px;
    border-radius: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 12px;
    text-decoration: none;
    background: #da6b64;
    color: white;
    height: 100%;
}
	.menu{
		display:block;
	}
	.sp i{
		display: block;
		font-size:30px;
		text-align: center;
		padding-top:10px;
	}
	.sp{
		display: inline-block;
	}
	.textl{
	font-size:1.3rem;
	}
	.textm{
	font-size:1rem;
	}
	.type_a .items {
	flex-wrap: wrap;
	}
	
	h2::before,h2::after{
		width: 20px;
    		height: 20px;
    		border-bottom: solid 3px;
    		border-right: solid 3px;
	}
	
		
	.box{		
		margin:0 4%;
	}
	.members{
		display:block;
		}

	.member .item{
		width:100%;
	}	
	.person {
	display: block;
	}
	.flow-box {
	   flex-flow: column;
		margin-bottom:20px;
	}
	img.line{
		display:none;
	}
	.flow-box br{
		display:none;
	}
	.left p {
    width: 300px;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 auto;
}
	.why{
	background: url(img/why_bg.jpg) center top no-repeat;
    padding: 4%;
    background-size: cover;
	}
	.info{
		margin-bottom: 20px;
	}
	h2::before,h2::after {
    margin: 0 4%;
	}
}
